<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item class="mt-2" routerLink="/admin/dashboard">
    <mat-icon>home</mat-icon> DASHBOARD
  </a>
  <h2 matSubheader class="mt-2">POST MANAGEMENT</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/active-post">
    <mat-icon>home</mat-icon> ACTIVE POST
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/pending-post">
    <mat-icon>dashboard</mat-icon> PENDING POST
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/rejected-post">
    <mat-icon>dashboard</mat-icon> REJECTED POST
  </a>
  <h2 matSubheader class="mt-2">USER MANAGEMENT</h2>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 4
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 5
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 6
  </a>
  <h2 matSubheader class="mt-2">FACILITY MANAGEMENT</h2>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 4
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 5
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 6
  </a>
</mat-nav-list>